*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.pages{
  padding: 50px 0;
  width: 100%;
  background: url("https://www.eea.europa.eu/themes/biodiversity/state-of-nature-in-the-eu/state-of-nature-2020-subtopic/image_print")
  center/100% no-repeat fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}